@{
    ViewBag.Title = "Trang cá nhân";
}

<div class="container mt-xl-50 mt-sm-30 mt-15">
    <!-- Title -->
    <div class="hk-pg-header">
        <div>
            <h2 class="hk-pg-title font-weight-600">Trang cá nhân</h2>
        </div>
    </div>
    <!-- /Title -->
    <!-- Row -->
    <!-- /Row -->
</div>