
@{
    ViewBag.Title = "Lỗi";
}

<div class="container mt-xl-50 mt-sm-30 mt-15">
    <!-- Title -->
    <!-- /Title -->
    <!-- Row -->
    <h2 class="text-red">Có lỗi xảy ra, vui lòng thử lại sau.</h2>

    <!-- /Row -->
</div>