@model QuanLyCLB.Models.TaiKhoan
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Quên mật khẩu</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="~Content/favicon.ico">
    <link rel="icon" href="favicon.ico" type="image/x-icon">

    <!-- Custom CSS -->
    <link href="~/Content/dist/css/style.css" rel="stylesheet" type="text/css">
</head>

<body>
    <!-- Preloader -->
    <div class="preloader-it">
        <div class="loader-pendulums"></div>
    </div>
    <!-- /Preloader -->
    <div class="hk-wrapper">

        <!-- Main Content -->
        <div class="hk-pg-wrapper hk-auth-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-12 pa-0">
                        <div class="auth-form-wrap pt-xl-0 pt-70">
                            <div class="auth-form w-xl-30 w-sm-50 w-100">

                                @using (Html.BeginForm())
                                {
                                    @Html.ValidationSummary(true)
                                    <h1 class="display-5 mb-10 text-center">Bạn cần lấy lại mật khẩu?</h1>
                                    <p class="mb-30 text-center">Chúng tôi sẽ gửi mã xác nhận vào email khôi phục mật khẩu của bạn.</p>
                                    <div class="form-group">
                                        <input class="form-control" placeholder="Email" name="Email" type="email">
                                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                    </div>
                                    <button class="btn btn-primary btn-block mb-20" type="submit">Gửi</button>
                                    <p class="text-right"><a href="@Url.Action("Login", "Auth")">Trở về đăng nhập</a></p>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Main Content -->

    </div>
    <!-- /#wrapper -->
    <!-- jQuery -->
    <script src="~/Content/vendors/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="~/Content/vendors/popper.js/dist/umd/popper.min.js"></script>
    <script src="~/Content/vendors/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Slimscroll JavaScript -->
    <script src="~/Content/dist/js/jquery.slimscroll.js"></script>

    <!-- Fancy Dropdown JS -->
    <script src="~/Content/dist/js/dropdown-bootstrap-extended.js"></script>

    <!-- Owl JavaScript -->
    <script src="~/Content/vendors/owl.carousel/dist/owl.carousel.min.js"></script>

    <!-- Switchery JavaScript -->
    <script src="~/Content/vendors/switchery/dist/switchery.min.js"></script>

    <!-- FeatherIcons JavaScript -->
    <script src="~/Content/dist/js/feather.min.js"></script>

    <!-- Tablesaw JavaScript -->
    <script src="~/Content/vendors/tablesaw/dist/tablesaw.jquery.js"></script>
    <script src="~/Content/dist/js/tablesaw-data.js"></script>

    <!-- Init JavaScript -->
    <script src="~/Content/dist/js/init.js"></script>
</body>

</html>

