@model QuanLyCLB.Models.TaiKhoan
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Reset Password</title>
    <meta name="description" content="A responsive bootstrap 4 admin dashboard template by hencework" />

    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="icon" href="favicon.ico" type="image/x-icon">

    <!-- Custom CSS -->
    <link href="~/Content/dist/css/style.css" rel="stylesheet" type="text/css">
</head>

<body>
    <!-- Preloader -->
    <div class="preloader-it">
        <div class="loader-pendulums"></div>
    </div>
    <!-- /Preloader -->
    <!-- HK Wrapper -->
    <div class="hk-wrapper">

        <!-- Main Content -->
        <div class="hk-pg-wrapper hk-auth-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-12 pa-0">
                        <div class="auth-form-wrap pt-xl-0 pt-70">
                            <div class="auth-form w-xl-30 w-sm-50 w-100">
                                @using (Html.BeginForm("ResetPassword","Auth",FormMethod.Post))
                                {
                                    @Html.ValidationSummary(true)
                                    <h1 class="display-5 mb-30 text-center">Đặt lại mật khẩu</h1>
                                    <div class="form-group">
                                        <input class="form-control" placeholder="Mã xác nhận" name="Code" type="text">
                                        @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" id="password" placeholder="Mật khẩu mới" type="password">
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input class="form-control" id="confirm-password" placeholder="Nhập lại mật khẩu" name="newPassword" type="password">
                                        </div>
                                        <div class="text-center text-red" id="error"></div>

                                    </div>
                                    <button class="btn btn-primary btn-block mb-20" id="submit-btn" type="submit">Đặt lại</button>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Main Content -->

    </div>
    <!-- /HK Wrapper -->
    <!-- jQuery -->
    <script src="~/Content/vendors/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="~/Content/vendors/popper.js/dist/umd/popper.min.js"></script>
    <script src="~/Content/vendors/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Slimscroll JavaScript -->
    <script src="~/Content/dist/js/jquery.slimscroll.js"></script>

    <!-- Fancy Dropdown JS -->
    <script src="~/Content/dist/js/dropdown-bootstrap-extended.js"></script>

    <!-- FeatherIcons JavaScript -->
    <script src="~/Content/dist/js/feather.min.js"></script>

    <!-- Init JavaScript -->
    <script src="~/Content/dist/js/init.js"></script>
    <script>
        const password = document.getElementById('password');
        const confirmPassword = document.getElementById('confirm-password');
        const submitBtn = document.getElementById('submit-btn');

        submitBtn.addEventListener('click', function (event) {
            if (password.value !== confirmPassword.value) {
                event.preventDefault();
                document.getElementById("error").innerHTML="Vui lòng nhập mật khẩu trùng khớp!!!"
            }
        });
    </script>
</body>

</html>

